<div class="container-fluid">
   <div class="row vh-100">
      <div class="bg-image col-lg-7 d-flex flex-column justify-content-end p-5">
         <h6 class="text-light ">Sistema de control, seguimiento y planificacion de territorios</h6>
      </div>
      <div class="col-lg-5 d-flex justify-content-center align-items-center bg-custom-dark">
         <div class="card bg-custom-card w-75 h-50 rounded-4" >
            <div class="card-body">
               <h2 class="card-title text-center text-white">Iniciar Sesión</h2>

               <div class="mb-3"> 
                  <label for="user" class="form-label text-white">Usuario</label> <input type="text" class="form-control" id="user" placeholder="ej: caros01"> 
               </div>

               <div class="mb-3"> 
                  <label for="userPassword" class="form-label text-white">Contraseña</label> <input type="password" class="form-control" > 
               </div>
               
               <button routerLink="/territory-record-form" class="btn bg-custom-button col-12">Continuar</button> 
               <p class="text-center text-white pt-4"> © 2026 · Territory Tracker App V: 1.2.0</p>
            </div>
      </div>
</div>